<!DOCTYPE html>
<html>
<head>
  <title><%= application_name %></title>
  <%%= stylesheet_link_tag    "<%= resource_name %>", media: "all" %>
  <%%= javascript_include_tag "<%= resource_name %>" %>
  <%%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%%= yield %>
  </div>

</body>
</html>
